.reg-from-container{
     
background-color: rgba(0, 0, 0, 0);

border: none;
top:100px;
left: 250px;
padding-right: 300px;
margin-left: -200px;



}
.form-class{
    padding-left: 100px;
    width: 750px;
    height: 750px;
    padding-bottom: 250px;
    
}
