.dashboard-container {
  margin-left: 200px; /* Adjust the margin to match the width of your sidebar avoid the hide */ 
  padding: 20px;
}

.dashboard-card {
  border: 1px solid black; /* Add black border */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  
  
}
.totalcustomer{
  top:45px;
  width: 250px;
  margin: 50px;
  background-color: rgba(0, 140, 255, 0);
  color: rgb(249, 246, 246);
  border: none;
}
.totalcustomer-btn{
  width: 150px;
  height: 50px;
 background-color: rgba(0, 115, 255, 0.823);
 color: bisque;
 font-size: 15px;
  margin-top: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

