/* newLog.css */
body {
  background-image: url('../../images/background.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-position: center center;
  opacity: 0.9; /* Adjust the opacity as needed (0.1 to 1) */
  
}

.login-main {
  height: 100vh;
}

.login-card {
  height: 450px;
  width: 700px;
  left: 370px;
  top: 180px;
  border-radius: 20px;
  background-color: rgba(0, 0, 255, 0);
  border: none;
  
  
}

.image {
  width: 365px;
  height: 450px;
  object-fit: cover;
  opacity: 0.8;
}

.login-form {
  padding: 30px;
  padding-top: 80px;
  width: 340px;
  height: 450px;
  
  
}

.form-control {
  width: 100%;
}